@{
    ViewData["Title"] = "صفحه اصلی";
}

@section SEO
{
    <meta name="Keywords" content="index, project, Mohammad Taheri, home page"/>
    <meta name="description" content="Index Description"/>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>building Web apps with ASP.NET Core</h3>
    <p>Learn about Me </p>
</div>
