@{
    ViewData["Title"] = "حریم خصوصی";
}

@section SEO
{
    <meta name="Keywords" content="privacy, privacy polict, Mohammad Taheri"/>
    <meta name="description" content="Site's privacy policy Description"/>
}

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
