
@{
    ViewData["Title"] = "فروشگاه اینترنتی";
}

@section SEO
{
    <meta name="Keywords" content="shop, Mohammad Taheri, Online shop"/>
    <meta name="description" content="Shop Description"/>
}

<h1>This is my Shop</h1>
<h2>This is my Shop</h2>
<h3>This is my Shop</h3>
<h4>This is my Shop</h4>
<h5>This is my Shop</h5>
<h6>This is my Shop</h6>


<p>Welcome</p>


